<mat-card appearance="raised">
    <mat-card-header></mat-card-header>
    <mat-card-content>
        <section>
            <div layout="row" layout-align="end center">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <a mat-fab extended routerLink=".">
                          <mat-icon>person_add_alt</mat-icon>
                          New
                        </a>
                    </div>
                </div>
            </div>
        </section>
        @if(items?.length === 0) {
            <div class="alert alert-info" ngIf="lista?.length == 0">
                No hay alumnos en el sistema
            </div>
        } @else {
            <table mat-table [dataSource]="items || []" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="lastname">
                  <th mat-header-cell *matHeaderCellDef>Lastname</th>
                  <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
                </ng-container>
                <ng-container matColumnDef="createAt">
                  <th mat-header-cell *matHeaderCellDef>Create At</th>
                  <td mat-cell *matCellDef="let element">{{element.createAt}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab aria-label="Edit item" [routerLink]="['/alumnos/form', element.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab aria-label="Delete item">
                        <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="mostrarColumnasAlumnos"></tr>
                <tr mat-row 
                    (click)="clickedRow(row)"
                    [class.demo-row-is-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: mostrarColumnasAlumnos;"></tr>
            </table>
            <mat-paginator [length]="itemsSize"
                      [pageSize]="itemsByPage"
                      [pageIndex]="currentPage"
                      (page)="paginar($event)">
            </mat-paginator>
        }
    </mat-card-content>
</mat-card>
